__pycache__/
*.pyc
*.pyo
*.vbs
data/media.db
data/media.db-shm
data/media.db-wal
data/douban_cache.json
data/adult_config.json
data/server.log
*.txt
start.bat
*.zip
data/ahk/UX/
data/ahk/*.chm
data/ahk/Install.cmd
data/ahk/WindowSpy.ahk
data/ahk/Templates/
